.mw-representations {
  display: flex;
  flex-direction: column;
  overflow: auto;

  .mw-representations-list {
    flex: 1;
    overflow: auto;

    .mw-representation-action {
      line-height: 1;
      padding: 0 4px;

      &:not(.mw-representation-selector) {
        font-size: larger;
      }

      &.mw-representation-selector {
        min-width: 21px;
        padding: 0 1px;
      }

      &.mw-representation-color-picker {
        padding: 0;
      }
    }
  }
}
