.mw-miew {
  pointer-events: auto;
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 0;
}

.mw-miew-message {
  max-width: 60vw;
  z-index: 1;
}

.mw-miew .atom-info.overlay {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}

@mixin miew($background, $foreground, $panel-background, $panel-border) {
  .mw-miew {
    background: $background;
    color: $foreground;

    .atom-info.overlay {
      background-color: $panel-background;
      border: 1px solid $panel-border;
      padding: 10px;
      border-radius: 10px;
      pointer-events: auto;

      p {
        margin: 0;
      }
    }
  }
}
