.miewer {
  pointer-events: none;
  position: absolute;
  inset: 0;
  overflow: auto;

  .mw-miewer-header {
    margin-bottom: 2px;
    border-bottom: 1px solid transparent;
    padding: 2px 10px;
    pointer-events: auto;

    .mw-miewer-header-toggle {
      font-size: larger;
      line-height: 1;
    }
  }
}

@mixin miewer($bg, $fg, $panel, $border) {
  .miewer {
    background: $bg;
    color: $fg;

    .mw-miewer-header {
      background-color: fade-in($panel, 0.05);
      box-shadow: 0 0 2px 2px rgb(0 0 0 / 10%);
    }
  }
}
