.miewer {
  pointer-events: none;
  position: absolute;
  inset: 0;
  overflow: auto;

  .mw-miewer-header {
    margin-bottom: 2px;
    border-bottom: 1px solid transparent;
    padding: 2px 10px;
    pointer-events: auto;

    .mw-miewer-header-toggle {
      display: inline-flex;
      align-items: center;

      .mw-button-icon {
        font-size: larger;
      }

      line-height: 1;
    }
  }
}

@mixin miewer($bg, $fg, $header, $header-shadow) {
  .miewer {
    background: $bg;
    color: $fg;

    .mw-miewer-header {
      background-color: $header;
      box-shadow: 0 0 2px 2px $header-shadow;
    }
  }
}
