@import './container';
@import './panel';
@import './split-container';

@mixin layout(
  $panel-background,
  $panel-header,
  $panel-foreground,
  $border,
  $split-divider,
  $split-divider-hovered
) {
  @include panel(
    $background: $panel-background,
    $foreground: $panel-foreground,
    $header: $panel-header,
    $border: $border
  );
  @include split-divider(
    $color: $split-divider,
    $hover: $split-divider-hovered
  );
}
