@import '../components';

$font-family: verdana, sans-serif;
$font-size: 11px;
$dark-background: #222;
$dark-foreground: #cacaca;
$dark-error: #d13460;
$light-background: #f0f0f0;
$light-foreground: #333;
$light-error: #d90f45;

@mixin dark-theme {
  @include components(
    $background: #222222,
    $foreground: #cacaca,
    $foreground-faded: #777777,
    $error: #d13460,
    $error-faded: #7a243d,
    $panel-background: fade-out(#111111, 0.1),
    $panel-border: #444444,
    $split-divider: transparent,
    $split-divider-hovered: #444444
  );
}

@mixin light-theme {
  @include components(
    $background: #f0f0f0,
    $foreground: #333333,
    $foreground-faded: #777777,
    $error: #d90f45,
    $error-faded: #ef5c83,
    $panel-background: fade-out(#fafafa, 0.1),
    $panel-border: #cccccc,
    $split-divider: transparent,
    $split-divider-hovered: #aaaaaa
  );
}

body {
  font-family: $font-family;
  font-size: $font-size;

  &.dark-theme {
    color-scheme: dark;
  }

  &.light-theme {
    color-scheme: light;
  }
}

.dark-theme {
  @include dark-theme;
}

.light-theme {
  @include light-theme;
}

/* stylelint-disable */
:export {
  fontFamily: $font-family;
  fontSize: $font-size;
  darkBackground: $dark-background;
  darkForeground: $dark-foreground;
  darkError: $dark-error;
  lightBackground: $light-background;
  lightForeground: $light-foreground;
  lightError: $light-error;
}
/* stylelint-enable */
