@import '../components';

$font-family: verdana, sans-serif;
$font-size: 11px;
$dark-background: #222;
$dark-background-accent: #111;
$dark-background-faded: #2f2f2f;
$dark-foreground: #cacaca;
$dark-foreground-faded: #777;
$dark-foreground-accent: #eee;
$dark-error: #d13460;
$dark-error-faded: #7a243d;
$dark-miew-background: $dark-background;
$dark-selection-background: #e78d04;
$dark-selection-foreground: #222;
$light-background: #f0f0f0;
$light-background-accent: #fafafa;
$light-background-faded: #e0e0e0;
$light-foreground: #333;
$light-foreground-faded: #777;
$light-foreground-accent: #111;
$light-error: #d90f45;
$light-error-faded: #ef5c83;
$light-miew-background: $light-background;
$light-selection-background: #e78d04;
$light-selection-foreground: #222;

@mixin dark-theme {
  @include components(
    $background: $dark-background,
    $background-accent: $dark-background-accent,
    $background-faded: $dark-background-faded,
    $foreground: $dark-foreground,
    $foreground-faded: $dark-foreground-faded,
    $foreground-accent: $dark-foreground-accent,
    $error: $dark-error,
    $error-faded: $dark-error-faded
  );
}

@mixin light-theme {
  @include components(
    $background: $light-background,
    $background-accent: $light-background-accent,
    $background-faded: $light-background-faded,
    $foreground: $light-foreground,
    $foreground-faded: $light-foreground-faded,
    $foreground-accent: $light-foreground-accent,
    $error: $light-error,
    $error-faded: $light-error-faded
  );
}

body {
  font-family: $font-family;
  font-size: $font-size;

  &.dark-theme {
    color-scheme: dark;
  }

  &.light-theme {
    color-scheme: light;
  }
}

.dark-theme {
  @include dark-theme;
}

.light-theme {
  @include light-theme;
}

/* stylelint-disable */
:export {
  fontFamily: $font-family;
  fontSize: $font-size;
  darkBackground: $dark-background;
  darkForeground: $dark-foreground;
  darkError: $dark-error;
  darkSelectionBackground: $dark-selection-background;
  darkSelectionForeground: $dark-selection-foreground;
  lightBackground: $light-miew-background;
  lightForeground: $light-foreground;
  lightError: $light-error;
  lightSelectionBackground: $light-selection-background;
  lightSelectionForeground: $light-selection-foreground;
}
/* stylelint-enable */
