@import './layout';
@import './miewer';
@import './miew';
@import './terminal';
@import './representations';
@import './shared';

body {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.mw-full-size {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mw-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mw-row > * {
  margin: 2px 0;
}

.mw-actions > *:not(:last-child),
.mw-row > *:not(:last-child) {
  margin-right: 2px;
}

.mw-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 1px;
  padding: 1px;
  justify-content: flex-start;

  &.mw-end {
    justify-content: flex-end;
  }

  &.mw-space-between {
    justify-content: space-between;
  }

  &.mw-center {
    justify-content: center;
  }

  &.mw-start {
    justify-content: flex-start;
  }

  &:first-child {
    margin-top: 0;
  }

  &.mw-title-row {
    margin: 2px 1px;

    &:first-child {
      margin-top: 0;
    }
  }

  .mw-actions {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
  }

  .mw-control {
    flex: 1;
  }
}

.mw-title {
  font-weight: bold;
}

.mw-dropdown-overlay {
  max-height: 70vh;
  overflow: auto;
}

@mixin components(
  $background,
  $foreground,
  $foreground-faded,
  $error,
  $error-faded,
  $panel-background,
  $panel-border,
  $split-divider,
  $split-divider-hovered
) {
  .mw-text-faded {
    color: $foreground-faded;
  }

  .mw-error {
    color: $error;

    &.mw-text-faded {
      color: $error-faded;
    }
  }

  @include miewer($background, $foreground, $panel-background, $panel-border);
  @include miew($background, $foreground);
  @include layout(
    $panel-background,
    $foreground,
    $panel-border,
    $split-divider,
    $split-divider-hovered
  );
  @include miewer-terminal($panel-background, $foreground, $error);
}
